# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "your_client_id_here"
application_url = "your_development_url_here"
embedded = true
name = "Flotara"
handle = "flotara"

[build]
include_config_on_deploy = true
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2025-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
scopes = "write_products"

[auth]
redirect_urls = [
  "your_development_url_here/auth/callback",
  "your_development_url_here/auth/shopify/callback",
  "your_development_url_here/api/auth/callback"
]

[pos]
embedded = false 